.GelStyle {
    width: 50%;
    height: 100%;
    position: relative; /*doesn't scroll*/
    z-index: 100;
    right: 0;
    top: 0;
    background-color: hsl(192, 100%, 25%);
    text-align:left;
    color: white;
    margin:1%;
}

.length {
    width: 50%;
    font-stretch: normal;
    position:relative;
    left: 10px;
    text-align:left;
    margin-top: 10px;
}

.ArticleHeader {
    width: 100%;
    background-color:hsl(192, 100%, 25%);
}

.Saved {
    position: relative;
    display: block;
    left: 26%;
    bottom: 10%;
    margin: -89%;
    height:75%;
}
.SavedHeader {
    font-size: 24px;
    background-color:hsl(192, 100%, 25%);
    margin-left:1%;
    color:white;
    width:100%;
    text-align: center;
}


